{% extends 'main.html' %} 
{% load static %} 
{% block super %}

{% if query %}
    <h2>Search Results for "{{ query }}":</h2>
    {% if product %} 
        <p>Found {{ products.count }} product(s).</p>
    {% else %}
        <p>No products found matching "{{ query }}".</p>
    {% endif %}
{% endif %}


<h2>Products</h2>
<ul>
    {% for product in product %}
    <li>
        <a href="{%url 'staff_pro_detail' product.id %}">{{product.name}}</a>
        <img src="/pro/{{product.image}} " alt="{{ product.name }}" width="100"></a>
        <!-- {{ product.name }} - {{ product.description }} -->
    </li>
    {% endfor %}
</ul>

{% endblock super %}
{%block slider%}

{% endblock slider %}
{% block body %}
{% endblock body %}
{% block ClientTestimony %}
{% endblock ClientTestimony %}

                          