{% extends 'main.html' %} 
{% load static %} 
{% block super %}

<h1>Staff User Dashboard</h1>

<ul>
    {% for rproduct in rproduct %}
    <li>
        <a href="{%url 'staff_pro_detail' rproduct.id %}">{{rproduct.name}}</a>
        <img src="/pro/{{rproduct.image}} " alt="{{ rproduct.name }}" width="100"></a>
        {{ rproduct.name }} - {{ rproduct.description }}
    </li>
    {% endfor %}
</ul>

{% endblock super %}
{%block slider%}

{% endblock slider %}
{% block body %}
{% endblock body %}
{% block ClientTestimony %}
{% endblock ClientTestimony %}