{% extends 'main.html' %} 
{% load static %} 
{% block super %}

<h1>Staff User Dashboard</h1>

<ul>
    {% for product in product %}
    <li>
        <a href="{%url 'staff_pro_detail' product.id %}">{{product.name}}</a>
        <img src="/pro/{{product.image}} " alt="{{ product.name }}" width="100"></a>
       <!-- {{ product.description }} -->
    </li>
    
    {% endfor %}
</ul>

{% endblock super %}
{%block slider%}

{% endblock slider %}
{% block body %}
{% endblock body %}
{% block ClientTestimony %}
{% endblock ClientTestimony %}